@import "libs";
@import "minireset";
@import "transitions";
@import "colors";
@import "typography";
@import "scrollbar";
@import "spacings";

* {
  @include baseTypography();
  //   margin: 0;
  //   padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;

  #__nuxt {
    container-name: nuxt;
    container-type: inline-size;

    position: relative;

    flex: 1;
  }

  .app {
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;

    color: var(--black);
    background-color: var(--white);

    container-name: app;
    container-type: inline-size;

    padding-top: 0;

    & > * {
      padding: var(--spacing-l) 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1em;
  }

  ul {
    list-style-type: square;

    li {
      margin-left: var(--spacing-m);
    }
  }

  img {
    display: block;
    border-radius: 32px;
    filter: grayscale(1);
    transition: filter var(--base-transition-duration) ease-in-out;

    &:hover {
      filter: grayscale(0);
    }
  }

  .hero-banner-with-text,
  .multi-text-block {
    p:not(:first-of-type) {
      margin: var(--spacing-s) 0;
    }
  }
}

.fake-hidden {
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
  margin: 0;
}
